// Font
$main-font: "Open Sans", sans-serif;
$secondary-font: "Nunito", sans-serif;

// Colors
$nav-bg-color: #96b6c5;
$main-bg-color: #f1f0e8;
$accent-color: #e55604;
$border-color: #dee2e6;
$button-color: #c7c8cc;

// Media Query
$xs-size: 430px;
$sm-size: 500px;
$md-size: 700px;
