* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 40px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  gap: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: $secondary-font;
}
