.modal {
  font-size: 12px;
  background-color: rgba(121, 121, 121, 0.5);
  .modal-header {
    border: none;
  }
  .modal-title {
    font-weight: 600;
  }
  .col {
    line-height: 20px;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }
}

@media screen and (max-width: $xs-size) {
  .modal {
    font-size: 10px;
  }
}
