@mixin calendarCircle($color) {
  background-color: $color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.main-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.react-calendar {
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
  font-family: $secondary-font;
}
.react-calendar__tile.react-calendar__month-view__days__day {
  position: relative;
  abbr {
    position: relative;
    z-index: 1;
  }
  &:hover {
    background: none;
  }
}
.react-calendar__tile--now {
  background: white;
  color: blue;
  text-decoration: underline;
  font-weight: 600;
}

.react-calendar__tile--hasActive {
  background: none;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: none;
}

.react-calendar__tile--active {
  background: none;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: none;
}

.completeDay {
  @include calendarCircle(#c7c8cc);
}
.incompleteDay {
  @include calendarCircle(#f6d6d6);
}
.main-calendar-info {
  display: flex;
  gap: 10px;
  > div {
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c7c8cc;
  }
  .planned-day .circle {
    background-color: #f6d6d6;
  }
}

.main-calendar-info p,
.completion-ratio {
  font-size: 12px;
}
