.btn-box {
  .btn-plan-form {
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid $border-color;
  }
  .clicked {
    background-color: $button-color;
  }
}
.exercises-list {
  line-height: 25px;
  width: max-content;
}
.btn-add-exercise {
  border: 1px solid $button-color;
  margin: 10px 0;
  &:hover {
    background-color: $accent-color;
    color: white;
  }
}
.exercise-plan {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.exercise-save {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $accent-color;
}
