.added-exercises {
  .added-exercises-title {
    text-align: left;
    margin: 10px 0;
  }
  .col {
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  .btn-delete-trash {
    cursor: pointer;
  }
}

.btn-form-box {
  margin: 20px 0;
  .btn-save {
    padding: 10px 30px;
    margin-right: 20px;
  }
  .btn-cancel {
    padding: 10px 20px;
  }
}

.noAdded-exercises-message {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: $xs-size) {
  .row-cols-5 {
    font-size: 12px;
  }
}
