.update-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-list-info {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

@media screen and (max-width: $md-size) {
  .update-list-info {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: $sm-size) {
  .update-list-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
